@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}
.container-wrapper {
  background: white;
}

.navbar .container {
  margin: 0 auto;
  max-width: 1000px;
  /* height: 400px; */
  background: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navbar .container .logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
ul {
  list-style-type: none;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

.navbar {
  padding: 20px 0;
  position: sticky;
}
.navbar .menu {
  display: flex;
  flex-wrap: wrap;
  transform: column;
}
.navbar logo .img {
  width: 15px;
}
.navbar .logo a {
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  color: rgba(84, 91, 232, 1);
}
.navbar .menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.navbar .menu ul a {
  color: rgba(16, 25, 40, 1);
  font-size: 14px;
  font-weight: 400px;
}
.navbar .button {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.navbar .button .login {
  border-color: rgba(84, 91, 232, 1);
  border-radius: 10px;
  color: rgba(84, 91, 232, 1);
  background-color: #fff;
  font-weight: 1000;
  width: 100px;
  padding: 8px 16px;
  border-style: solid;
  border-width: thin;
  text-align: center;
  font-size: 12px;
}
.navbar .button .register {
  background-color: rgba(84, 91, 232, 1);
  color: #fff;
  border-radius: 10px;
  font-weight: 800;
  width: 100px;
  padding: 8px 16px;
  text-align: center;
  font-size: 12px;
}

main .second {
  margin-top: 50px;
  height: 400px;
  padding: 50px 240px;
  margin: 0 auto;
  background-color: rgba(245, 245, 245, 1);
}
main .second .paragraph {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
  width: 500px;
}
main .second text {
  color: rgba(84, 91, 232, 1);
}
main .second h2 {
  font-size: 40px;
  font-weight: 2000;
}
main .second .course {
  color: rgba(84, 91, 232, 1);
}

main .second h5 {
  color: rgba(84, 91, 232, 1);
  font-weight: 500;
}
main .second span course {
  font-size: 48px;
}
main .second p {
  color: rgba(150, 150, 150, 1);
  font-size: 14px;
}
main .second .paragraph .btn-main {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  text-align: center;
}
main .second .paragraph .register {
  background-color: rgba(84, 91, 232, 1);
  color: #fff;
  width: 100px;
  padding: 8px 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 550;
}
main .second .video {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 200px;
}
main .second .video .play {
  width: 15%;
}
main .second .video a {
  color: black;
  font-weight: 700;
  font-size: 14px;
}
main .second .girl img {
  display: flex;
  top: 120px;
  left: 850px;
  position: absolute;
  width: 400px;
}
main .benefit .row {
  align-items: flex-start;
  padding: 30px 240px;
  height: 300px;
}
main .benefit .first-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  width: 400px;
  top: 0px;
}
main .benefit .first-section h2 {
  color: rgba(84, 91, 232, 1);
  font-weight: 300;
  font-size: 20px;
}
main .benefit .first-section h1 {
  color: black;
  font-size: 40px;
  font-weight: 5000;
}
main .benefit .first-section .desc {
  color: rgba(150, 150, 150, 1);
  font-size: 14px;
}
main .benefit .second-section {
  width: 550px;
  position: absolute;
  left: 700px;
  top: 600px;
}
main .benefit .card-benefit {
  display: flex;
  flex-wrap: wrap;
  width: 170px;
  height: 150px;
  background-color: rgba(84, 91, 232, 1);
  padding: 25px 18px;
  gap: 20px;
  border-radius: 10px;
  align-items: center;
}

main .benefit .second-section .card-benefit .title {
  font-size: 16px;
  color: #fff;
}
main .benefit .second-section .card-benefit .teacher {
  width: 50px;
}
main .benefit .second-section .card-benefit .desc {
  font-size: 12px;
  color: rgba(221, 221, 221, 1);
  padding-top: 10px;
}
main .benefit .card-benefit2 {
  display: flex;
  flex-wrap: wrap;
  width: 170px;
  height: 150px;
  background-color: rgba(84, 91, 232, 1);
  padding: 25px 18px;
  gap: 10px;
  border-radius: 10px;
  align-items: center;
  position: absolute;
  left: 225px;
  top: 1px;
}
main .benefit .second-section .card-benefit2 .title2 {
  font-size: 16px;
  color: #fff;
}
main .benefit .second-section .card-benefit2 .certificate {
  width: 50px;
}
main .benefit .second-section .card-benefit2 .desc2 {
  font-size: 12px;
  color: rgba(221, 221, 221, 1);
  padding-top: 10px;
}
main .benefit .card-benefit3 {
  display: flex;
  flex-wrap: wrap;
  width: 170px;
  height: 150px;
  background-color: rgba(84, 91, 232, 1);
  padding: 25px 18px;
  gap: 10px;
  border-radius: 10px;
  align-items: center;
  position: absolute;
  left: 450px;
  top: 1px;
}
main .benefit .second-section .card-benefit3 .title3 {
  font-size: 16px;
  color: #fff;
}
main .benefit .second-section .card-benefit3 .learning {
  width: 50px;
}
main .benefit .second-section .card-benefit3 .desc3 {
  font-size: 12px;
  color: rgba(221, 221, 221, 1);
  padding-top: 10px;
}
main .benefit .second-section .arrow {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding-top: 20px;
}
main .benefit .second-section .arrow .left {
  display: flex;
  gap: 10px;
  width: 5%;
}
main .benefit .second-section .arrow .right {
  display: flex;
  gap: 10px;
  width: 5%;
}
main .selected-course .container {
  background-image: linear-gradient(
    180deg,
    rgba(84, 91, 232, 1),
    rgba(39, 45, 176, 1)
  );
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 500px;
}
main .selected-course .container .group-study {
  width: 400px;
}
main .selected-course .container .study {
  width: 250%;
  padding-left: 220px;
  padding-top: 30px;
  width: 400px;
}
main .selected-course .information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  width: 800px;
}
main .selected-course .information h2 {
  color: rgba(240, 201, 50, 1);
  font-weight: 200px;
  padding: 0 50px;
}
main .selected-course .information h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 1500;
  padding: 0 50px;
  width: 400px;
}
main .selected-course p {
  color: rgba(221, 221, 221, 1);
  padding: 0 50px;
  width: 400px;
}
main .selected-course analytic {
  padding: 20px 20px;
  gap: 20px;
  width: 100px;
}
main .selected-course ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  padding: 20px 0px;
}
main .selected-course ul li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}
main .selected-course ul li .number {
  color: rgba(240, 201, 50, 1);
  font-size: 20px;
  font-weight: 1000;
}
main .selected-course ul li .info {
  color: rgba(221, 221, 221, 1);
  padding: 0 50px;
}
main .available-course .row {
  align-items: flex-start;
  gap: 50px;
  padding: 30px 20px;
  padding-left: 250px;
  display: flex;
}
main .available-course .section-part1 {
  width: 650px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
main .available-course .course-item {
  width: 300px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
main .available-course .course-item .course-card {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  top: 0;
  overflow: hidden;
}
main .available-course .course-item .course-info {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, #000 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0px;
}

main .available-course .course-item .best {
  font-size: 14;
  font-weight: 600;
  text-align: center;
  width: 100px;
  background-color: rgba(84, 91, 232, 1);
  color: rgba(255, 255, 255, 1);
  padding: 8px 0px;
  align-self: flex-start;
}
main .available-course .course-item .price {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  align-self: flex-end;
  padding: 20px 20px;
}
main .available-course .course-item img {
  width: 100%;
  display: block;
}

main .available-course .course-item .detail {
  padding: 15px;
  height: 100px;
}
main .available-course .course-item .detail .first-row {
  align-items: center;
  padding: 4px;
  width: 300px;
  display: flex;
}
main .available-course .course-item .detail .second-row {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 10px 4px;
}
main .available-course .course-item .detail h2 {
  font-weight: 700;
  font-size: 20px;
  width: 150px;
}
main .available-course .course-item .detail .views {
  color: rgba(84, 91, 232, 1);
  font-size: 12px;
  font-weight: 400;
  width: 100px;
  padding-left: 50px;
}
main .available-course .course-item .detail span {
  color: rgba(150, 150, 150, 1);
}

main .available-course .section-part2 {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

main .available-course .section-part2 .available {
  color: rgba(84, 91, 232, 1);
}
main .available-course .section-part2 h2 {
  font-weight: 2000;
  font-size: 36px;
}
main .available-course .section-part2 .description {
  color: rgba(150, 150, 150, 1);
  font-size: 14px;
}
main .available-course .section-part2 .see-all {
  width: 100px;
  height: auto;
  text-align: center;
  font-weight: 600;
  border-radius: 5px;
  background-color: rgba(84, 91, 232, 1);
  color: rgba(255, 255, 255, 1);
  padding: 8px 12px;
}
main .testimoni {
  padding: 50px 0px;
}
main .testimoni .testi-title {
  font-size: 32px;
  font-weight: 600;
  font-family: "Mada", sans-serif;
  text-align: center;
  align-items: center;
}
main .testimoni .list-testimoni {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 20px 0px;
  align-items: center;
}
main .testimoni .card-testi {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #ffffff;
  padding: 30px 50px;
  padding-left: 250px;
  gap: 30px;
}
main .testimoni .profile-testi {
  width: 450px;
  height: 250px;
  flex-shrink: 0;
  background: var(--White-color, #fff);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 24px 30px;
}

main .testimoni .profile-testi img {
  width: 50px;
  height: 50px;
}
main .testimoni .profile-testi .rate img {
  width: 20px;
  height: 20px;
  padding: 10px 0px;
}
main .testimoni .profile-testi .user {
  display: flex;
}
main .testimoni .profile-testi .user .name {
  padding: 0px 12px;
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main .testimoni .profile-testi .user .role {
  color: var(--Medium, #969696);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main .testimoni .profile-testi .testi-text {
  color: var(--Medium-Dark, #646464);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
footer {
  background-color: rgba(57, 62, 70, 1);
  padding: 80px 80px;
  color: rgba(255, 255, 255, 1);
  height: 200px;
}
footer a {
  color: rgba(255, 255, 255, 1);
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.footer-section1 {
  width: 380px;
  padding-left: 150px;
}
footer .footer-section1 p {
  font-size: 14px;
  color: rgba(244, 244, 244, 1);
  padding: 40px 0;
  font-weight: 100;
}
footer .footer-section1 .sosmed {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
footer .footer-section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 70px;
  font-size: 14px;
  padding-left: 100px;
}
footer .footer-section2 .type {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}
footer .footer-section2 ul a {
  font-size: 14px;
  color: rgba(244, 244, 244, 1);
  font-weight: 200;
}
footer .footer-section2 h2 {
  font-size: 16px;
  font-weight: 500;
}
footer .footer-section2 ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
